<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="backend/fragment/layout :: head('favorites')"></head>
<body>
<div class="four">
    <img src="images/404.png" alt="">
    <!---728x90--->
    <p>Permission Denied.</p>
    <a th:href="@{/}" class="hvr-shutter-in-horizontal">Go To Home</a>
</div>
            <div class="copy">
                <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<div th:replace="backend/fragment/layout :: scripts"></div>
</body>
</html>