<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>

    <!--&lt;!&ndash;<link rel="icon" th:href="@{/favicon.png}" />&ndash;&gt;-->

    <!--<link rel="stylesheet" th:href="@{/resources/css/style.css}" />-->
    <!--<link rel="stylesheet" th:href="@{/resources/css/popuo-box.css}" />-->
    <!--<link rel="stylesheet" th:href="@{/resources/css/flexslider.css}" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />-->
    <!--&lt;!&ndash;web-fonts&ndash;&gt;-->
    <!--<link href='http://fonts.googleapis.com/css?family=Jockey+One|Open+Sans:300italic,400italic,600italic,400,600,700' rel='stylesheet' type='text/css'/>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Audiowide|Open+Sans:300italic,400italic,600italic,700,300,600,400' rel='stylesheet' type='text/css'/>-->
    <!--&lt;!&ndash;//web-fonts&ndash;&gt;-->
    <!--<script th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>-->
    <!--<script th:src="@{/resources/js/bootstrap.min.js}"></script>-->

    <!--<script th:src="@{/resources/js/custom.js}"></script>-->
    <!--<title th:text="'Music Library | ' + ${page_title}">Music Library</title>-->


    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link th:href="@{/resources/backend/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />

    <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom Theme files -->
    <link th:href="@{/resources/backend/css/style.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{/resources/backend/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/resources/backend/css/owl.carousel.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{~/resources/backend/css/graph.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css}">



    <script th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
    <!-- Mainly scripts -->
    <script th:src="@{/resources/backend/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/resources/backend/js/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <link th:href="@{/resources/backend/css/custom.css}" rel="stylesheet" />
    <script th:src="@{/resources/backend/js/custom.js}"></script>
    <script th:src="@{/resources/backend/js/screenfull.js}"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });



        });
    </script>


    <!--pie-chart--->
    <script th:src="@{/resources/backend/js/pie-chart.js}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!--skycons-icons-->
    <script th:src="@{/resources/backend/js/skycons.js}"></script>
    <!--//skycons-icons-->
</head>

<body>

<!-- Collect the nav links, forms, and other content for toggling -->
<div th:fragment="topnavbar" class="drop-men" th:style="|padding: 20px;|">
    <ul class=" nav_1">

        <li class="dropdown at-drop">
            <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> <span class="number">5</span></a>
            <ul class="dropdown-menu menu1 " role="menu">
                <li><a href="#">

                    <div class="user-new">
                        <p>New user registered</p>
                        <span>40 seconds ago</span>
                    </div>
                    <div class="user-new-left">

                        <i class="fa fa-user-plus"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a></li>
                <li><a href="#">
                    <div class="user-new">
                        <p>Someone special liked this</p>
                        <span>3 minutes ago</span>
                    </div>
                    <div class="user-new-left">

                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a></li>
                <li><a href="#">
                    <div class="user-new">
                        <p>John cancelled the event</p>
                        <span>4 hours ago</span>
                    </div>
                    <div class="user-new-left">

                        <i class="fa fa-times"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a></li>
                <li><a href="#">
                    <div class="user-new">
                        <p>The server is status is stable</p>
                        <span>yesterday at 08:30am</span>
                    </div>
                    <div class="user-new-left">

                        <i class="fa fa-info"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a></li>
                <li><a href="#">
                    <div class="user-new">
                        <p>New comments waiting approval</p>
                        <span>Last Week</span>
                    </div>
                    <div class="user-new-left">

                        <i class="fa fa-rss"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a></li>
                <li><a href="#" class="view">View all messages</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">Rackham<i class="caret"></i></span><img src="images/wo.jpg"></a>
            <ul class="dropdown-menu " role="menu">
                <li><a href="profile.html"><i class="fa fa-user"></i>Edit Profile</a></li>
                <li><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox</a></li>
                <li><a href="calendar.html"><i class="fa fa-calendar"></i>Calender</a></li>
                <li><a href="inbox.html"><i class="fa fa-clipboard"></i>Tasks</a></li>
            </ul>
        </li>

    </ul>
</div><!-- /.navbar-collapse -->


<!-- flash message starts -->

<div th:fragment="flash" th:if="${flash != null}"  th:classappend="'alert-' + ${#strings.toLowerCase(flash.status)}" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p th:text="${flash.message}" ></p>
</div>

<!-- flash message ends -->

<!-- navbar -->

<div th:fragment="navbar" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a th:href="@{/admin/home}" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
            </li>

            <li>
                <a th:href="@{/admin/category}" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Category</span> </a>
            </li>

            <!--<li>-->
                <!--<a href="#" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span class="nav-label">Menu Levels</span><span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li><a href="graphs.html" class=" hvr-bounce-to-right"> <i class="fa fa-area-chart nav_icon"></i>Graphs</a></li>-->

                    <!--<li><a href="maps.html" class=" hvr-bounce-to-right"><i class="fa fa-map-marker nav_icon"></i>Maps</a></li>-->

                    <!--<li><a href="typography.html" class=" hvr-bounce-to-right"><i class="fa fa-file-text-o nav_icon"></i>Typography</a></li>-->

                <!--</ul>-->
            <!--</li>-->

        </ul>
    </div>
</div>
<!--navbar ends -->


<div th:fragment="scripts">
    <!--scrolling js-->
    <script th:src="@{~/resources/backend/js/jquery.nicescroll.js}"></script>
    <script th:src="@{~/resources/backend/js/scripts.js}"></script>
    <!--//scrolling js-->
    <script th:src="@{~/resources/backend/js/bootstrap.min.js}"> </script>
    <script th:src="@{~/resources/backend/js/owl.carousel.js}"></script>
    <!--<script th:src="@{~/resources/backend/js/jquery.flot.js}"></script>-->
    <!----Calender -------->
    <link  th:href="@{~/resources/backend/css/clndr.css}" rel="stylesheet" />
    <script th:src="@{~/resources/backend/js/underscore-min.js}" ></script>
    <script th:src="@{~/resources/backend/js/moment-2.2.1.js}" ></script>
    <!--<script th:src="@{resources/backend/js/clndr.js}" ></script>-->
    <script th:src="@{~/resources/backend/js/clndr.js}" type="text/javascript"></script>

    <script th:src="@{~/resources/backend/js/site.js}" ></script>

    <script th:src="@{https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js}"></script>
    <!----End Calender -------->
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items : 3,
                lazyLoad : true,
                autoPlay : true,
                pagination : true,
                nav:true,
            });
        });
    </script>
    <script>

        $(document).ready(function () {

            var graphData = [{
                // Visits
                data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
                color: '#999999'
            }, {
                // Returning Visits
                data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
                color: '#999999',
                points: { radius: 4, fillColor: '#7f8c8d' }
            }
            ];

//            $.plot($('#graph-lines'), graphData, {
//                series: {
//                    points: {
//                        show: true,
//                        radius: 5
//                    },
//                    lines: {
//                        show: true
//                    },
//                    shadowSize: 0
//                },
//                grid: {
//                    color: '#7f8c8d',
//                    borderColor: 'transparent',
//                    borderWidth: 20,
//                    hoverable: true
//                },
//                xaxis: {
//                    tickColor: 'transparent',
//                    tickDecimals: 2
//                },
//                yaxis: {
//                    tickSize: 1000
//                }
//            });
//
//            $.plot($('#graph-bars'), graphData, {
//                series: {
//                    bars: {
//                        show: true,
//                        barWidth: .9,
//                        align: 'center'
//                    },
//                    shadowSize: 0
//                },
//                grid: {
//                    color: '#7f8c8d',
//                    borderColor: 'transparent',
//                    borderWidth: 20,
//                    hoverable: true
//                },
//                xaxis: {
//                    tickColor: 'transparent',
//                    tickDecimals: 2
//                },
//                yaxis: {
//                    tickSize: 1000
//                }
//            });

            $('#graph-bars').hide();

            $('#lines').on('click', function (e) {
                $('#bars').removeClass('active');
                $('#graph-bars').fadeOut();
                $(this).addClass('active');
                $('#graph-lines').fadeIn();
                e.preventDefault();
            });

            $('#bars').on('click', function (e) {
                $('#lines').removeClass('active');
                $('#graph-lines').fadeOut();
                $(this).addClass('active');
                $('#graph-bars').fadeIn().removeClass('hidden');
                e.preventDefault();
            });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    top: y - 16,
                    left: x + 20
                }).appendTo('body').fadeIn();
            }

            var previousPoint = null;

            $('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;
                        $('#tooltip').remove();
                        var x = item.datapoint[0],
                            y = item.datapoint[1];
                        showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');
                    }
                } else {
                    $('#tooltip').remove();
                    previousPoint = null;
                }
            });

            //datatable
            $('#example').DataTable();

        });
    </script>

</div>

</body>
</html>