<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="backend/fragment/layout :: head('favorites')"></head>
<body>
<!--<div th:replace="backend/fragment/layout :: nav"></div>-->
<!--<div th:replace="backend/fragment/layout :: searchbar"></div>-->
<!--<div th:replace="backend/fragment/layout :: flash"></div>-->
<!--<div class="row user-meta">-->
<!--<div class="col s9= l12">-->
<!--<h2 th:text="${username}">Jane Doe</h2>-->
<!--<div class="meta" th:text="|${#lists.size(gifs)} Favorites|"></div>-->
<!--</div>-->
<!--</div>-->

<div id="wrapper">
    <div th:replace="backend/fragment/layout :: logo"></div>

    <!-- topnavbar -->
    <div th:replace="backend/fragment/layout :: topnavbar"></div>
    <!-- topnavbar end -->


    <div class="clearfix">

    </div>
    <nav>
        <div th:replace="backend/fragment/layout :: navbar"></div>


    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1" style="background: #f3f3f4;">
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a th:href="@{|/admin/home|}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a th:href="@{|/admin/song|}">Roles</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Categories</span>
                </h2>
            </div>
            <!--//banner-->
            <!--content-->
            <div class="grid-form">
                <div th:replace="backend/fragment/layout :: flash"></div>
                <div class="grid-form1">
                    <h3 th:text="${pageTitle}">Form Element</h3>
                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <form class="form-horizontal" th:action="${url}" th:object="${song}" method="post" enctype="multipart/form-data">

                                <!--<input type="hidden" name="_method" th:value="${method}">-->

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Song Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{title}" class="form-control1" id="title" placeholder="Enter Song name" />
                                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                              class="validation-message"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="singer" class="col-sm-2 control-label">Singer Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{singer}" class="form-control1" id="singer" placeholder="Enter Singer name" />
                                        <span th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"
                                              class="validation-message"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="price" class="col-sm-2 control-label">Price</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{price}" class="form-control1" id="price" placeholder="Enter Price" />
                                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                              class="validation-message"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stock" class="col-sm-2 control-label">Stock</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{stock}" class="form-control1" id="stock" placeholder="Enter Stock available" />
                                        <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"
                                              class="validation-message"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="discount" class="col-sm-2 control-label">Discount</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{discount}" class="form-control1" id="discount" placeholder="Enter Discount available" />
                                        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"
                                              class="validation-message"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="file" class="col-sm-2 control-label">Image</label>
                                    <div class="col-sm-8">
                                        <input type="file" th:field="*{file}" class="form-control1" id="file"/>
                                        <span th:if="${#fields.hasErrors('file')}" th:errors="*{file}"
                                              class="validation-message"></span>
                                        <div th:if="${ song.getTitle() != null }"><img class="img-thumbnail"  th:src=""></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="status" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-8">
                                        <div class="radio block"><label>

                                            <input id="status" type="radio" th:field="*{status}" th:value="1" /> Active</label></div>
                                        <div class="radio block"><label>
                                            <input type="radio" th:field="*{status}" th:value="0" /> Inactive</label></div>
                                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                              class="validation-message"></span>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input class="btn-primary btn" type="submit" th:value="${button}">
                                            <a th:href="@{/admin/song}" class="btn-default btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>




                </div>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="copy">
        <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
</div>


<div th:replace="backend/fragment/layout :: scripts"></div>
</body>
</html>